body {
  background-color: darkgrey;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: darkred;
}
h1 {
  font-family: Georgia;
}
h2 {
  margin-top: 0px;
  font-size: 24px;
  font-style: italic;
  font-family: Georgia;
}
h3 {
  font-weight: normal;
  padding-bottom: 2px;
  font-family: Georgia;
}
.source {
  border-bottom: 5px solid #e8e8e8;
  padding-bottom: 20px;
  margin-bottom: 35px;
}
.container {
  margin: 0 auto;
  background-color: skyblue;
  max-width: 700px;
  box-sizing:border-box;
  overflow: auto;
}
@media(max-width: 500px) {
    .left-column {
      width: 100%;
    }
    .right-column {
      width: 100%;
    }
  }
  @media(min-width: 650px) {
      .left-column {
        float: left;
        width: 66%;
        padding: 5px;
        box-sizing:border-box;
      }
      .right-column {
        float: right;
        width: 33%;
        padding: 5px;
        box-sizing: border-box;
      }
    }
